
@{
    ViewBag.Title = "AccountInfo";
}

<h2>AccountInfo</h2>
@using (Html.BeginForm())
{
<input type="text" value="Id" name="Id"/>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Login" class="btn btn-default" />
    </div>
</div>
}

